* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
footer nav p {
  width: 100vw;
  font-size: 10px;
  text-align: center;
  margin-bottom: 0%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
